# Google Cloud Project ID
GCS_PROJECT_ID="GCS_PROJECT_ID" 

# Required: The name of your GCS bucket
GCS_BUCKET_NAME="GCS_BUCKET_NAME"

# Optional: Path to your service account key file (defaults to ./gcs_storage_key.json)
GCS_CREDENTIALS_PATH=./gcs_storage_key.json

# Optional: Path to the signed URLs file (defaults to ./signed_urls.json)
SIGNED_URLS_FILE=./signed_urls.json